#header
    a(href='',style='float:left')
        img#pintravelimg(src='images/pin.png', alt='PinTravel', width='48px')
    h1#main-title= username
    h3#sign-in
        a(href='logout',style='cursor:pointer') Sign out


script
    if ("#{new_user}")
        smoke.alert("Welcome to PinTravel!!",{},function(){firstPin();resetSession();});
    else if ("#{imageupload}")
        smoke.alert("#{imageupload}",{},function(){firstPin();resetSession();});
    else if ("#{newLogIn}")
        smoke.alert("Hi #{username}",{},function(){firstPin();resetSession();});
    function resetSession()
    {
        $.post('reset');
    }